@{
    ViewBag.Title = "Currency Rates App";
}

    <div class="row">
        <div class="col-md-12">
   
            <h3>Currency Rates - www.forex.se</h3>
            <p>Please click load button to fetch currencies</p>
            <button class="btn btn-primary" data-bind="click: loadRates">Load</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table data-bind="if: Rates().length > 0"class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Buy</th>
                        <th>Sell</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Rates">
                    <tr>
                        <td data-bind="text: Code"> </td>
                        <td data-bind="text: Buy"> </td>
                        <td data-bind="text: Sell"> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
